@font-face {
    font-family: 'Computer Modern Sans';
    src: url('type/cmunss.eot');
    src: url('type/cmunss.eot?#iefix') format('embedded-opentype'),
         url('type/cmunss.woff') format('woff'),
         url('type/cmunss.ttf') format('truetype'),
         url('type/cmunss.svg#cmunss') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('type/cmunsx.eot');
    src: url('type/cmunsx.eot?#iefix') format('embedded-opentype'),
         url('type/cmunsx.woff') format('woff'),
         url('type/cmunsx.ttf') format('truetype'),
         url('type/cmunsx.svg#cmunsx') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('type/cmunsi.eot');
    src: url('type/cmunsi.eot?#iefix') format('embedded-opentype'),
         url('type/cmunsi.woff') format('woff'),
         url('type/cmunsi.ttf') format('truetype'),
         url('type/cmunsi.svg#cmunsi') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('type/cmunso.eot');
    src: url('type/cmunso.eot?#iefix') format('embedded-opentype'),
         url('type/cmunso.woff') format('woff'),
         url('type/cmunso.ttf') format('truetype'),
         url('type/cmunso.svg#cmunso') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('type/cmunrm.eot');
    src: url('type/cmunrm.eot?#iefix') format('embedded-opentype'),
         url('type/cmunrm.woff') format('woff'),
         url('type/cmunrm.ttf') format('truetype'),
         url('type/cmunrm.svg#cmunrm') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Serif';
    src: url('type/cmunbx.eot');
    src: url('type/cmunbx.eot?#iefix') format('embedded-opentype'),
         url('type/cmunbx.woff') format('woff'),
         url('type/cmunbx.ttf') format('truetype'),
         url('type/cmunbx.svg#cmunbx') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Serif';
    src: url('type/cmunti.eot');
    src: url('type/cmunti.eot?#iefix') format('embedded-opentype'),
         url('type/cmunti.woff') format('woff'),
         url('type/cmunti.ttf') format('truetype'),
         url('type/cmunti.svg#cmunti') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Serif';
    src: url('type/cmunbi.eot');
    src: url('type/cmunbi.eot?#iefix') format('embedded-opentype'),
         url('type/cmunbi.woff') format('woff'),
         url('type/cmunbi.ttf') format('truetype'),
         url('type/cmunbi.svg#cmunbi') format('svg');
    font-weight: bold;
    font-style: italic;
}


